/*The dimensions of any box includes its border and padding*/
* {
    box-sizing: border-box;
}


.container > div{
    background-color: #66a5AD;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 5px;
/*    margin: 2px;*/
}

.container{
    height: 250px;
    background-color: #07575B;
/*    turning the container to a grid*/
    display: grid;
/*    rows height*/
    grid-template-rows: 1fr 1fr 1fr 1fr;
/*    columns width*/
    /* grid-template-columns: 100px 1fr 25% 2fr; */
    /* grid-template-columns: repeat(4, 20%); */
    /* grid-template-columns: repeat(4, minmax(400px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

/*    gutter*/
    grid-gap: 5px;
    padding: 7px;
    /* Set the height of any extra rows outside the template(implicit grid) */
    grid-auto-rows: 70px;
    
    /* width of columns */
    /* grid-auto-columns: 200px; */
    /* grow columns */
    /* grid-auto-flow: column; */
}
