/*The dimensions of any box includes its border and padding */
* {
    box-sizing: border-box;
}

/* Convert container to flex */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.column:nth-child(1) {
    background-color: skyblue;
}
.column:nth-child(2) {
    background-color: palevioletred;
}
.column:nth-child(3) {
    background-color: greenyellow;
}
.column:nth-child(4) {
    background-color: lightcoral;
}

.column{
    flex: 1;
    min-width: 300px;
}

img{
    width: 100%;
}